/* Header Styles Begin */

.hero {
  background-image: url('../images/banner.jpg');
  background-size: cover;
  height: 500px;
}

/* Header Styles End */

/* ============================================= */

/* Main Styles Begin */

.cake-intro {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cake-title {
  text-align: center;
  margin-bottom: 30px;
}

.main-cake-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.three-cakes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 20px;
}

.card {
  margin-right: 20px;
}

.tea-intro {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tea-title {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Nunito', sans-serif;
}

.main-tea-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.three-tea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 20px;
}

.artist-name {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.artist-instagram {
  font-family: 'Nunito', sans-serif;
}

.content {
  font-family: 'Nunito', sans-serif;
}

.introduce-one, .introduce-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-intro, .right-intro {
  padding: 30px 20px;
}

.intro-img {
  border-radius: 10px;
  box-shadow: 0px 0px 6px 3px #000000;
}

.is-4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.is-2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.short-desc {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 10px;
}

.more {
  font-family: 'Nunito', sans-serif;
}

/* Main Styles End */

/* ============================================= */
