/* Header Styles Begin */

.hero {
  background-image: url('../../images/story-banner.jpg');
  background-size: cover;
  height: 500px;
  position: relative;
}

.hero-body {
  position: absolute;
  top: 100px;
  left: 50px;
}

.story-banner-title {
  color: #FFFCF9;
}

.story-banner-content {
  color: #FFFCF9;
}

/* Header Styles End */

/* ============================================= */

/* Main Styles Begin */

.stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* Main Styles End */

/* ============================================= */
